﻿
<div class="@BackgroundClass @HighlightClass" title="@Title" style="width: 35px; height: 59px; border: 1px solid white; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <span>@Item.Value</span>
    <span>(@Item.Interest)</span>
</div>

@code {
    [Parameter]
    public Engine.Bond Item { get; set; }
    
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public bool IsHighlighted { get; set; }

    private string BackgroundClass => Item.Nation.Name.ToLowerInvariant() + "-bond";

    private string HighlightClass => IsHighlighted ? "bond-highlighted" : null;
}