﻿@page "/"

@using Imperial2030.Engine
@using Microsoft.AspNetCore.SignalR.Client
@using System.ComponentModel.DataAnnotations
@inject Data.GameService GameService
@inject NavigationManager NavigationManager

@implements IAsyncDisposable

<h1>Home</h1>

@if (_currentChoice != null)
{
    {
        <p>There is a @_currentChoice.Game.Players.Count() player game active.</p>
        foreach (var playerName in _currentChoice.Game.Players.Select(player => player.Name))
        {
            <a class="btn btn-primary" href="/playgame/@playerName">Join as <em>@playerName</em></a>
        }
    }
}
else
{
    <p>
        There is currently no game active.
    </p>
}

<EditForm Model="@_newGame" OnValidSubmit="CreateGame">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <label for="name1">Names</label>
    <InputText id="name1" class="form-control" @bind-Value="_newGame.Name1"/>
    <InputText id="name2" class="form-control" @bind-Value="_newGame.Name2"/>
    <InputText id="name3" class="form-control" @bind-Value="_newGame.Name3"/>
    <InputText id="name4" class="form-control" @bind-Value="_newGame.Name4"/>
    <InputText id="name5" class="form-control" @bind-Value="_newGame.Name5"/>
    <InputText id="name6" class="form-control" @bind-Value="_newGame.Name6"/>

    <button type="submit" class="btn btn-primary">Create New Game</button>
</EditForm>

@code {
    private HubConnection _hubConnection;
    private Engine.Choice.IChoice _currentChoice;
    private readonly NewGameModel _newGame = new NewGameModel();

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/gameHub"))
            .Build();

        _hubConnection.On("GameStateChanged", async () =>
        {
            _currentChoice = await GameService.GetGameAsync();
            StateHasChanged();
        });

        await _hubConnection.StartAsync();

        _currentChoice = await GameService.GetGameAsync();
    }

    private async Task CreateGame()
    {
        var players = _newGame.Names
            .Where(name => !string.IsNullOrEmpty(name))
            .Select(name => new Identity(name));
        _currentChoice = await GameService.CreateNewGameAsync(players);
    }

    public ValueTask DisposeAsync()
    {
        return _hubConnection.DisposeAsync();
    }


    private class NewGameModel
    {
        [Required, MinLength(1)]
        public string Name1 { get; set; }
        
        [Required, MinLength(1)]
        public string Name2 { get; set; }
        
        [MinLength(1)]
        public string Name3 { get; set; }
        
        [MinLength(1)]
        public string Name4 { get; set; }
        
        [MinLength(1)]
        public string Name5 { get; set; }
        
        [MinLength(1)]
        public string Name6 { get; set; }
        
        public IEnumerable<string> Names
        {
            get
            {
                yield return Name1;
                yield return Name2;
                yield return Name3;
                yield return Name4;
                yield return Name5;
                yield return Name6;
            }
        }
    }
}